body{
    font-family: 'Alkatra', cursive;
    margin: 0px;
}
h1{
    font-size: 300%;
    
}
h3{
    font-size: 100%;
}
.name{
    color: blueviolet;
}
.half{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-top: 5%;
}
.half img{
    width: 100%;
}
.top-banner{
    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
}
.link-button{
    color: aliceblue;
    background-image: linear-gradient(45deg,rgb(247, 117, 25),rgb(252, 147, 129));
    text-decoration: none;
    padding: 2% 3%;
    border-radius: 6px;
}
.middle{
    float: left;
    margin-right: 9%;
    margin-top: 2%;
    width: 40%;
    padding-top: 5%;
}
.middle img{
    width: 100%;
}
.middle-button{
    color: aliceblue;
    background-image: linear-gradient(45deg , orange,yellow);
    text-decoration: none;
    padding: 2% 3%;
    border-radius: 5px;
}
.middle-banner{
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;
}